# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Generated native folders
/ios
/android

# TypeScript
*.tsbuildinfo

# Example app folder
app-example

# =========================
# Backend / Python / FastAPI
# =========================

# Python virtual environment
backend/venv/

# Python cache
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# =========================
# Environment / secrets
# =========================

# Local environment variables
.env
*.env
*.env.local

# =========================
# System / Misc
# =========================
.DS_Store
Thumbs.db
*.pem